<div class="main container">

  <h1 class="main-title">Qui sommes-nous ?</h1>

  <!-- WHO ARE US -->
  <div class="row who-are-us">
    <!-- TEAM -->
    <div class="col-md-12 team">
      <img [attr.src]="'https://res.cloudinary.com/dte02b2iw/image/upload/v1488815010/common/team.jpg' |
           cloudinary:'common':'w_1090,f_auto':'jpg'">
    </div>
    <!-- END TEAM -->

    <!-- BLOCKQUOTE -->
    <div class="col-md-12">
      <blockquote>
        <p>
          On est Éline et Kévin, on est sympa, on va te donner des idées de recettes,
          on va te simplifier la vie pour manger végétal, on va te conseiller pour que
          tout ça soit bon pour toi et parfois même, on espère qu’on va t’apprendre
          des trucs !
        </p>
      </blockquote>
    </div>
    <!-- END BLOCKQUOTE -->

    <!-- DESCRIPTION ELINE -->
    <div class="col-md-6">
      <div class="picture">
        <img
          [attr.src]="'https://res.cloudinary.com/dte02b2iw/image/upload/v1488813412/common/eline.jpg' |
          cloudinary:'common':'f_auto,w_1450,h_1450,c_crop,g_face,r_max/w_270':'jpg'"
          alt="Eline">
        <h2>Éline</h2>
      </div>
      <div class="presentation-text">
        <p>
          Tu as déjà fait un gâteau avec ta maman ? Moi, ça m’arrivait quand j’étais petite : on faisait
          toujours la même recette, je la connais encore par cœur. C’est l’idée de créer quelque chose à partir
          de jolis ingrédients qui m’a donné envie de faire de la cuisine mon métier quand j’étais ado.
        </p>

        <p>
          Je suis
          entrée au lycée hôtelier et j’ai suivi une formation incroyable qui a changé ma vie et qui m’a donné
          confiance en moi (c’est pas du blabla, hein !). Et puis après, c’est devenu mon vrai métier, genre comme
          une adulte ! Et j’en reviens toujours pas…
        </p>

        <p>
          La cuisine végétale, c’est Kévin qui m’y a initiée et, pour moi,
          c’était un défi à relever : comment faire des étincelles en cuisine
          comme au boulot, mais à la maison et sans denrées animales ?
        </p>

        <p>
          Je ne sais plus vraiment comment est venue l’idée du blog ensuite… Ça devait être une
          blague au début :  « quand est-ce qu’on part au Paraguay ? quand est-ce qu’on écrit un
          bouquin ? quand est-ce qu’on crée un blog ? » Et ça s’est concrétisé (enfin pas le
          Paraguay, ni le bouquin … ).
        </p>

        <p>
          Mais pour apporter quelque chose d’intéressant, je voulais des
          recettes à base d’ingrédients simples, j’aime pas trop lire une recette dans laquelle je
          connais pas la moitié des ingrédients. Donc, ici, tu ne trouveras pas de crème de chia,
          d’arrow root et autre poudre de maca ! Promis !
        </p>
      </div>
    </div>
    <!-- END DESCRIPTION ELINE -->

    <!-- DESCRIPTION KEVIN -->
    <div class="col-md-6">
      <div class="picture">
        <img [attr.src]="'https://res.cloudinary.com/dte02b2iw/image/upload/v1488813412/common/kevin.jpg' |
             cloudinary:'common':'f_auto,w_1450,h_1450,c_crop,g_face,r_max/w_270':'jpg'"
             alt="Kévin">
        <h2>Kévin</h2>
      </div>

      <div class="presentation-text">
        <p>
          L’idée de créer un blog de cuisine végétale me trottait dans la tête depuis quelque temps,
          non pas qu’il n’y en a pas assez (il en existe déjà de très bons), mais je pense qu’il est
          toujours bienvenu de favoriser ce type d’initiative pour permettre aux personnes curieuses
          d’avoir un choix large et varié et, surtout, de montrer qu’il existe un intérêt grandissant
          au sein de nos contrées peu coutumières à la cuisine sans steak.
        </p>

        <p>
          En France, la cuisine végétale n’a pas toujours bonne presse. On s’imagine qu’on ne peut
          composer qu’avec de la salade, des herbes et du tofu, alors qu’avec un peu d’inspiration et
          de curiosité, on se rend vite compte de l’infinité de possibilités qui nous est offerte.
        </p>

        <p>
          Pour ma part, j’imaginais un blog de recettes vegan simples et rapides, étant moi-même un peu
          paresseux lorsqu’il s’agit de passer des heures au fourneau. La cuisine végétale ne doit pas se
          faire au prix d’un imbroglio culinaire !
        </p>

        <p>
          Et puis, avec Éline, on s’est motivés. On fait des essais, on en foire beaucoup, et parfois, on
          fait des trucs super. Faire la tambouille, c’est beaucoup de tentatives. Mais ce sont des efforts
          toujours récompensés. Plutôt que de garder ça pour soi, autant partager et faire découvrir une autre
          manière de cuisiner !
        </p>
      </div>
    </div>
    <!-- END DESCRIPTION KEVIN -->
  </div>
  <!-- END WHO ARE US -->

  <!-- CONTACT FORM -->
  <pec-contact-form></pec-contact-form>
  <!-- END CONTACT FORM -->
</div>
