// Responsives
$desktop: 1200px;
$large: 992px;
$tablets: 768px;
$small: 576px;

// Default font police
$primary-font: Roboto, sans-serif;
$secondary-font: 'Amatic SC', cursive;
$material-icons: 'Material Icons', cursive;
$pacifico: 'Pacifico', cursive;
$font-awesome: 'FontAwesome', cursive;
$font-color: rgb(65, 72, 77);
$font-weight: 300;
$font-line-height: 27px;

/* Main colors */
$primary-color: #e5c014;
$secondary-color: #172349;

/* Animations */
$transition: 0.3s;

/* Images */
$brightness: brightness(70%);
$instagram-image: 'https://res.cloudinary.com/dte02b2iw/image/upload/v1486461095/common/widget-insta.jpg';
$travel-image: 'https://res.cloudinary.com/dte02b2iw/image/upload/v1486461156/common/widget-travel.jpg';

