<div class="quick-links">

  <div class="row">
    <div class="col-lg-4 col-md-6 item">
      <div class="newsletter item-content">
        <h3>Abonne-toi à la newsletter ;-)</h3>
        <pec-newsletter></pec-newsletter>
      </div>
    </div>
    <a href="{{ instagram }}" target="_blank" class="col-lg-4 item insta-item">
      <div class="instagram item-content">
        <h3>Instagram</h3>
      </div>
    </a>
    <a (click)="openDialog()" target="_blank" class="col-lg-4 col-md-6 item">
      <div class="travels item-content">
        <h3>Nos voyages</h3>
      </div>
    </a>
  </div>

</div>
