@import '../../../../../assets/scss/variables.scss';

/*
 * PHONES
 */
.quick-links {
  display: none;
}


/*
 * TABLETS
 */
@media only screen and (min-width: $tablets) {

  /* QUICK LINKS */
  .quick-links {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  /* EACH ITEM */
  .item {
    height: 195px;

    &.insta-item {
      display: none;
    }

    .item-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    /* NEWSLETTER */
    /deep/ .newsletter {
      background-color: $secondary-color;
      h3 {
        display: block;
        margin: auto;
        text-align: center;
        color: #ffffff;
        font-family: $secondary-font;
        font-weight: 300;
        line-height: 30px;
        font-size: 34px;
        margin: 0;
        max-width: 200px;
      }
      form {
        margin: auto;
        padding-top: 25px;
        width: 100%;
        .wrapper {
          position: relative;
          width: 100%;;
          margin: 0 auto;
        }
        label {
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          input {
            width: 100%;
            height: 50px;
            background-color: #ffffff;
            border: none;
            padding-left: 15px;
            padding-right: 50px;
            border-radius: 3px;
            font-size: 16px;
          }
          .newsletter-icon {
            position: absolute;
            color: $primary-color;
            right: 15px;
            font-size: 25px;
            top: 12px;

            &.newsletter-icon-success {
              color: #8bc34a;
              animation: fadein 0.3s;
              @keyframes fadein {
                from { opacity: 0 }
                to { opacity: 1 }
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }


    /* INSTAGRAM AND TRAVELS */
    .instagram, .travels {
      position: relative;
      transition: $transition;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        filter: brightness(0.6);
      }

      &:hover {
        &:after {
          filter: blur(2px) brightness(1)
        }
        h3 {
          background-color: $primary-color;
          border: $primary-color;
          box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
          outline-color: rgba(255, 255, 255, 0);
          outline-offset: 15px;
        }
      }

      h3 {
        width: 90%;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        padding: 5px;
        border: 0 solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 3px solid #fff;
        outline-offset: 0;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 1;
      }

    }

    .travels:after {
      background: url($travel-image) no-repeat;
    }
  }

}

/*
 * LARGE
 */
@media only screen and (min-width: $large) {
  .item {
    &.insta-item {
      display: block;
    }
    .instagram:after {
      background: url($instagram-image) no-repeat;
    }

    /* NEWSLETTER */
    /deep/ .newsletter {

      form {
        width: 90%;
      }
    }

  }
}


/*
 * DESKTOPS
 */
@media only screen and (min-width: $desktop) {

  /* ITEM */
  .item {
    /* NEWSLETTER */
    /deep/ .newsletter {

      form {
        width: 100%;
      }
    }
  }

}
