<div class="bg-img" [ngClass]="currentRoute === '/' ? 'homepage' : 'all'"
     [style.background-image]="'url(' + (currentRoute === '/' ? homeBackground : allBackground) + ')' |
      safe: 'style'">
</div>
<!-- END BACKGROUND IMAGE -->

<!-- HEADER -->
<pec-header [currentRoute]="currentRoute"
            [categories]="categories"
            [socialUrls]="socialUrls">
</pec-header>
<!-- END HEADER -->

<!-- ROUTER -->
<router-outlet></router-outlet>
<!-- END ROUTER -->

<!-- FOOTER -->
<pec-footer [instagramMedias]="instagramMedia ? (instagramMedia | async) : null"
            [socialUrls]="socialUrls"
            [categories]="categories">
</pec-footer>
<!-- END FOOTER -->
