<div class="comment-box" id="commentBox">
  <h3>Envoie nous un petit message :-)</h3>
  <form (ngSubmit)="addMessage()" [formGroup]="contactForm" novalidate>
    <div class="row">
      <div class="col-md-4">
        <input
          class="input-default"
          [ngClass]="'input-' + formErrors.name"
          formControlName="name"
          placeholder="Prénom *"
          required>
      </div>
      <div class="col-md-4">
        <input
          class="input-default"
          [ngClass]="'input-' + formErrors.email"
          formControlName="email"
          placeholder="Email *"
          required>
      </div>
      <div class="col-md-4">
        <input
          class="input-default"
          [ngClass]="'input-' + formErrors.subject"
          formControlName="subject"
          placeholder="Sujet *"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <textarea
          class="textarea-default"
          [ngClass]="'textarea-' + formErrors.content"
          formControlName="content"
          placeholder="Ton message *"
          required>
        </textarea>
      </div>
    </div>
    <button [disabled]="contactDisabled" type="submit" class="btn btn-block btn-blue send-button">Et Hop ! <i class="material-icons">send</i></button>
  </form>
</div>
